<div class="question-title">
  <h1 class="question"><%= @question.title %></h1>
</div>

<div class="question-body">
  <p class="question-text"><%= @question.question %></p>
  <p class="question-timestamps">edited <%= Question.time_format(@question.updated_at) %></p>
</div>


<div class="question-author">
  <p class="question-author-name">
  </p>
</div>

<div class="question-info">
  <p class="info-label">
    asked <%= @question.created_at %>
  </p>
    <p class="info-label">
      viewed <%= @question.view_count %>
    </p>
</div>
<%= erb :'_answers' %>
