
<div class="container container-table">
  <div class="question-title">
    <h2 class="question"><%= @question.title %></h2>
  </div>

<div class="question-main">
 <% if @user %>
   <div class="question-votes">
      <form method="post" action="/questions/<%= @question.id %>/upvote" class="inline upvote-form">
        <button type="submit" name="submit-up" value = "submit-up-value" class="btn btn-default btn-xs upvote-button"><span class="glyphicon glyphicon-chevron-up"></span></button>
      </form>
      <p class="vote-count"> <%= show_votes_for(@question) %></p>
      <form method="post" action="/questions/<%= @question.id %>/downvote" class="inline downvote-form">
        <button type="submit" name="submit-down" value = "submit-down-value" class="btn btn-default btn-xs downvote-button"><span class="glyphicon glyphicon-chevron-down"></span></button>
      </form>
    </div>
  <% end %>

    <div class="question-body">
      <p class="question-text"><%= @question.question %></p>
      <p class="question-timestamps">edited <%= Question.time_format(@question.updated_at) %></p>
      <div class="edit-and-delete">
        <a href="/questions/<%= @question.id %>/edit">edit</a>
        <form method="post" action="/questions/<%= @question.id%>">
          <input name="_method" type="hidden" value="delete">
          <input type="submit" value="delete">
        </form>
      </div>
    </div>
    <div class="question-info">
      <p class="info-label">
      asked <%= Question.time_format(@question.created_at) %> </p>
      <p class="info-label">
      viewed <%= @question.view_count %> times</p>
    </div>
  </div>
  <hr>
  <div class="question-comments comments">
    <%= show_comments_for(@question) %>
    <%= show_comment_form_for(@question) %>
  </div>

  <div class="main-answer-container">
    <h3><%= @question.answers.count %> Answers</h3>
    <hr>
    <%= erb :'_answers' %>
  </div>
</div>
