<% @answers.each do |answer| %>
  <span class="answer-container">
    <h3>answer</h3>
    <span class="answer-text">
      <%= answer.answer %>
    </span>
    <br><br>
    <span class="answer-author">
      username:  <%= answer.user.username %>
    </span>
    <br><br>
    <span class="answer-comments">
      <%= show_comment_form_for(answer) %>
      </span>
    <div>
      <%= show_comments_for(answer) %>
    </div>
  </span>
<% end %>


<a href="/questions/<%=@question.id%>/answers/new" class="add-answer-link">Add an answer</a>
