<% if @answers %>
  <div class="answer-container">
    <% @answers.each do |answer| %>
      <div class="answer-text">
        <%= answer.answer %>
        <p style="text-align: right">answered by <%= answer.user.username %></p>
      </div>
      <div class = "div-answer-comments comments">
        <%= show_comments_for(answer) %>
      </div>
      <div class="answer-comments answer-comment-form">
        <%= show_comment_form_for(answer) %>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>


<a href="/questions/<%=@question.id%>/answers/new" class="add-answer-link">Add an answer</a>
